:root {
    --red: #ff0000;
    --text_color: #1c1717;
    --heading_color: #1e2633;
    --white: #ffffff;
    --secondary-white:#e6d8d8;
}

/* Google fonts Nunito */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,800&display=swap');

/* ================== Global Css Start ================== */
body {
    font-family: 'Inter', sans-serif;
}

h1,
h2 {
    font-family: 'Nunito', sans-serif;
}
img{
    vertical-align: middle;
}
.login-title {
    padding-bottom: 43px;
    width: 100%;
    text-align: center;
}

.login-title h2 {
    color: var(--heading_color);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    position: relative;
}
.login-title h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 10px;
    background: var(--red);
    left: 50%;
    bottom: -25px;
    transform: translate(-50%);
    border-radius: 10px;
}

.btn {
    color: var(--white);
    background: var(--red);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 12px 20px;
    border: 1px solid var(--red);
    border-radius: 8px;
    text-transform: capitalize;
    transform: 0.8s;
}
.btn:hover{
    background: transparent;
    color: var(--red);
}
.account-links a{
    color: var(--red);
    font-weight: 600;
}
.title-section {
    width: 100%;
    text-align: center;
}
.title-section {
    width: 100%;
    text-align: center;
}
.title-section h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: var(--heading_color);
    z-index: 1;
}
.title-section p {
    margin-top: 15px;
    font-size: 18px;
    text-transform: capitalize;
    word-spacing: 2px;
    font-weight: 600;
    color: var(--text_color);
}
.title-section h2::after {
    content: 'title';
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 90px;
    transform: translate(-50%,-50%);
    color: #1e263317;
    z-index: -1;
    font-weight: 700;
    letter-spacing: 40px;
    text-transform: uppercase;

}
.recent-blog-section .title-section h2::after {
    content: 'recent';
}
.title-section h2::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 6px;
    border-radius: 6px;
    background: var(--red);
}



/* ================== Global Css End ================== */

/* ================== Blog Page Css Start ================== */
.blog-form-area {
    border: 2px solid var(--text_color);
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-form-area .single-input {
    width: 100%;
}
.blog-form-area .single-input select,
.blog-form-area .single-input input{
    width: 100%;
    border-radius: 5px;
    color: var(--text_color);
}
.blog-form-area .single-input input.btn{
    color: var(--white);
}
.blog-form-area .single-input input.btn:hover{
    width: 100%;
    border-radius: 5px;
    color: var(--red);
}
.blog-form-area .single-input select option{
    padding:6px;
}
/* ================== Blog Page Css End ================== */