.wished-blog-card {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wished-blog-card .card-img {
    height: 100%;
}
.wished-blog-card .card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wished-blog-info {
    width: 100%;
    padding: 20px;
}
.wished-blog-info .category {
    width: 100%;
}
.wished-blog-info .category h2{
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--red);
}
.wished-blog-info .title h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0;
}
.wished-blog-info p.description {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}